*{
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    color: #fefefe;
    text-align: center;
}

#particles-js{
    position: relative;
}

.profile-box{
    position: absolute;
}

.profile-box .profile-img {
    margin: 30px;
  }

.profile-box h3{
    color: #7bbbac;
    font-family: cursive;
}

.profile-box p{
    font-family: "Lucida Console", "Courier New", monospace;
}

.card{
    background: #202020;
    max-width: 25vw;
}

.rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:150px;
    height:150px;
}


.fa {
    padding: 10px;
    font-size: 22px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25px;
}

.fa.fa-github {
    color: #fefefe;
    background: #000;
  }

.fa.fa-twitter {
    color: #fefefe;
    background: #55ACEE;
}

.fa.fa-google {
    background: #dd4b39;
    color: #fefefe;
  }

.fa.fa-linkedin {
    background: #007bb5;
    color: #fefefe;
  }


  
